body {
    margin: 4%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.heading {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 6px -6px rgb(70, 65, 65);
    padding-bottom: 1%;
}

.menu-bar {
    color: black;
    visibility: hidden;
}

.heading h1 {
    font-size: 2.5rem;
    padding-right: 20rem;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

.menu {
    margin-top: 2.5rem;
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

/* .dog {
    width: 100%;
} */

/* .hero-image {
    background-image:url(/images/dog.jpg); 
    width: 100%;
} */

.hero-image h3 {
    font-size: 2em;
}

.hero-image p {
    font-size: 1.4em;
}



.breaking-news {
    position: absolute;
    background: white;
   bottom: 0;
}
.dog-image{
    position: relative;
}
.blog {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 6px -6px rgb(70, 65, 65);
    font-size: 1.5rem;
}

.news-list p {
    font-size: 1.5rem;
    box-shadow: 0 8px 6px -9px rgb(70, 65, 65);
}

.score-table {
    width: 100%;
    font-size: 1.5rem;
}

.score-table td {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    color: rgb(65, 49, 49);
    text-align: center;
}

.score-table th, .score-table td {
    padding: 8px;
}

.weather {
    display: flex;
}

.temp {
    font-size: 2rem;
}

.weather-widget {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 0 2rem;
}

.last-pic {
    float: left;
    height: 120px;
    width: 160px;
    padding-right: 2%;
    opacity: 1;
}

.parag {
    padding-bottom: 2%;
    opacity: 0.;
    font-size: 1.2rem;
}

footer div {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    font-size: 1.3rem;
    box-shadow: 0 8px 6px -6px rgb(70, 65, 65);
    border-top: 1px solid gray;
}

/*-------------for tablet---------*/

@media only screen and (min-width:750px) and (max-width:1023px) {
    .main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    body{
        margin:0;
    }
    .break-news {
        order: 1;
        width: 60%;
        align-self: center;
    }
    .news-list {
        order: 3;
        width: 150%;
    }
    .point-table {
        order: 4;
    }
    .weather-icon {
        order: 2;
        width: 37%;
    }
    .point-table {
        width: 100%;
        margin-top: 50px;
    }
   
    .heading h1 {
        padding-right: 10rem;
        padding-top: 1.5rem;
    }
    .score-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(131, 202, 143);
        color: rgb(65, 49, 49);
        text-align: center;
    }
    .score-table td, .score-table th {
        padding: 8px;
    }
    .breaking-news {
        font-size: .7rem;
        /* bottom: -50px; */
        background: transparent;
        color: white;
    }
    .weather-icon{
       margin-top: 0;
    }
   
}

/*-------mobile----------*/

@media only screen and (max-width:750px) {
    .menu {
        display: none;
    }
    .hero-image {
        margin-top: 2rem;
    }
    .menu-bar {
        visibility: visible;
        padding-top: 4rem;
        font-size: 2.5rem;
    }
    .breaking-news {
        font-size: .7rem;
    }
    .heading h1 {
        font-size: 1.9rem;
        padding-right: 0rem;
        padding-top: 2rem;
    }
    .logo {
        width: 4rem;
        height: auto;
    }
    .score-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(131, 202, 143);
        color: rgb(65, 49, 49);
        text-align: center;
    }
    .score-table td, .score-table th {
        padding: 8px;
    }
}